<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đối tác</title>
    <link href="./style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

    <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="script.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-xxl bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/tongquan">
                <img src="/img/navbar/logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                My Store
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/tongquan">
                            <img src="/img/navbar/tongquan.svg">
                            Tổng quan
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hanghoa">
                            <img src="/img/navbar/box.svg">
                            Hàng hóa
                        </a>
                    </li>
                    <li class="nav-item dropdown">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="/img/navbar/giaodich.svg">
                            Giao dịch
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/nhaphang">
                                    <img src="/img/navbar/thietlapgia.svg">
                                    Nhập hàng
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/banhang">
                                    <img src="/img/navbar/kiemkho.svg">
                                    Bán hàng
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doitac">
                            <img src="/img/navbar/doitac.svg">
                            Đối tác
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nhanvien">
                            <img src="/img/navbar/nhanvien.svg">
                            Nhân viên
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/khachhang">
                            <img src="/img/navbar/khachhang.svg">
                            Khách hàng
                        </a>
                    </li>
                    </li>
                </ul>
            </div>
            <a class="nav-link" href="/login">Logout</a>
        </div>
    </nav>


    <p class="fs-2 mt-3 ms-4">Đối tác</p>

    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Thêm đối tác
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm đối tác</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/doitac/add" method="post">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Tên</label>
                                <input type="text" name="ten" id="ten" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Số điện thoại</label>
                                <input type="text" name="phone" id="phone" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Địa chỉ</label>
                                <input type="text" name="address" id="address" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Email</label>
                                <input type="text" name="email" id="email" class="form-control">
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <div class="mb-3">
                        <input type="submit" name="submit_button" class="btn btn-primary" value=" Add">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>


    <div class="grid-container">
        <div class="grid-item">
            <p class="fs-5 ms-2">Tìm đối tác</p>
            <form action="/doitac" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" name="input_data2">
                    <button class="btn btn-outline-dark" type="submit">Find</button>
                </div>
            </form>
        </div>
        <div class="grid-item">
            <div class="container">
                <table id="example" class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i < dulieu.length; i++) { %>
                            <tr>
                                <td>
                                    <%= dulieu[i].manufacturer_id %>
                                </td>
                                <td>
                                    <%= dulieu[i].manufacturer_name %>
                                </td>
                                <td>
                                    <%= dulieu[i].phone %>
                                </td>
                                <td>
                                    <%= dulieu[i].address %>
                                </td>
                                <td>
                                    <%= dulieu[i].email %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="./index.js" charset="UTF-8"></script>
</body>

</html>
